{% extends "::base.html.twig" %}
{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
<!-- Optional theme -->
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
<!-- Latest compiled and minified JavaScript -->
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %} 
{% block body %}
<body>
<div class="container-fluid">
<div class="jumbotron">
  <h1>{{ result.title }}</h1>
  <p>{{ result.description }}</p>
</div>
  
<div class="table-responsive">
  <table class="table">
      <tr><td>#</td>
    {% for cell in result.columns %}
        <th>{{ cell }}</th>
    {% endfor %}
    </tr>
    {% for id, row in result.line %}
        <tr><th>{{ id }}</th>
        {% for cell in row %}
            <td>{{ cell }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
  </table>
</div>
</div>    
</body>
{% endblock %}
