<ul  class="section_menu">
    <li><a href="{{ url('arii_JOE_jobs') }}" class="active"><span><span><img src="{{ asset('bundles/ariicore/images/wa/ordered_job.png') }}"/>&nbsp;{{ "Jobs" | trans }}</span></span></a></li>
    <li><a href="{{ url('arii_JOE_chains') }}" class=""><span><span><img src="{{ asset('bundles/ariicore/images/wa/job_chain.png') }}"/>&nbsp;{{ "Chains" | trans }}</span></span></a></li>
    <li><a href="{{ url('arii_JOE_orders') }}" class=""><span><span><img src="{{ asset('bundles/ariicore/images/wa/order.png') }}"/>&nbsp;{{ "Orders" | trans }}</span></span></a></li>
    <li><a href="{{ url('arii_JOE_schedules') }}" class=""><span><span><img src="{{ asset('bundles/ariicore/images/wa/schedule.png') }}"/>&nbsp;{{ "Schedules" | trans }}</span></span></a></li>
    <li><a href="{{ url('arii_JOE_queues') }}" class=""><span><span><img src="{{ asset('bundles/ariicore/images/wa/spooler.png') }}"/>&nbsp;{{ "Agents" | trans }}</span></span></a></li>

</ul>
