    <h1 id="logo"><a href="{{ path('arii_home') }}">Ari'i</a></h1>
    <div style="height: 110px; overflow:hidden; float: left;">
    <!-- { % render "AriiCoreBundle:Admin:flashbag" % } -->
    </div>
    
    <div id="user_details">
        <ul id="user_details_menu">
            <li>
                <div style="float: right; margin-right: 5px;">
                {% for locale in ['en', 'fr'] %}
                <a href="{{ path(app.request.attributes.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}"><img src="{{ asset('bundles/ariicore/images/flags/') }}{{ locale }}.png"/></a>
                {% endfor %}
                </div>
            </li>
            {% if app.user %}
            <li>{{ app.user.username }}</li>
            <li>
                    <ul id="user_access">
                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="first"><a href="{{ path('arii_my_account') }}">{{ "My.account" | trans }}</a></li>
                            <li class="last"><a href="{{ path('fos_user_security_logout') }}">&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% else %}
                            <li class="first"><a href="{{ path('fos_user_security_logout') }}">&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>                            
                    {% endif %}
                    </ul>
            </li>
            {% else %}
            <li><strong>{{ "Welcome !" | trans }}</strong></li>
            <li>
                    <ul id="user_access">
                            <li class="first">{{ "Anonymous" | trans }}</li>
                            <li class="last"><a href="{{ path('fos_user_security_login') }}"><img src="{{ asset('bundles/ariicore/images/wa/login.png') }}"/>&nbsp;{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    </ul>
            </li>
            {% endif %}
            <li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ "Global administration" | trans }}
            {% else %}
                {{ app.session.get('enterprise') }}
            {% endif %}
            </li>
        </ul>
        <!-- <div id="server_details">
                        <dl>
                                <dt>Server time :</dt>
                                <dd>6:45 AM</dd>
                        </dl>
             </div>
        -->
        <!--[if !IE]>start search<![endif]-->
<!--
        <div id="search_wrapper">
<form action="#">
                <fieldset>
                    <label>
                        <input class="text" name="" type="text" />
                    </label>
                    <span class="go"><input name="" type="submit" /></span>
                </fieldset>
            </form>
<ul id="search_wrapper_menu">
                    <li class="first"><a href="#">{{ "Advanced Search" | trans }}</a></li>
                    <li class="last"><a href="#">{{ "Admin Map" | trans }}</a></li>
            </ul>
 </div>
-->
        <!--[if !IE]>end search<![endif]-->

    </div>
    <!--[if !IE]>end user details<![endif]-->
